*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Oswald', sans-serif;
}

.top{
    background-color: #659e8b;
    height: 7em;
    justify-content: center;
    font-family: 'Koulen', cursive;
    font-size: larger;
    color: aliceblue;
}

h1, h2{
    text-align: center;
}

p{
    font-size: larger;
    line-height: 50px;
}

.logo{
    border: aliceblue 5px;
    border-style: dashed;
    border-radius: 50px 50px;
    margin-top: 5px;
    margin-left: 150px;
    height: 110px;
    width: 110px;
    position: absolute;
}

.profile-img{
    border: #659e8b 7px;
    border-style:solid;
    margin-top: 65px;
    margin-left: 25px;
    height: 550px;
    width: 400px;
    float: left;
    margin-right: 20px;
}

.infos{
    margin-top: 80px;
    width: 80%; 
}

.bi{
    font-size: 25px;
    color: black;
    margin-left: 25px;
}

footer{
    padding-top: 20px;
    text-align: center;
    margin-top: 10%;
    height: 68px;
    width: 100%;
    font-family: 'Koulen', cursive;
    background-color: #659e8b;
}